SERPAPI_API_KEY=
ANOTHER_SECRET_KEY=
# Other API keys can be added here for different services and models
# Use huggingface-cli login to set HUGGINGFACE_API_KEY for meta Llama models or place it here
